---
import { getHomePermalink } from '~/utils/permalinks';

export interface Props {
  footNote?: string;
}

const { footNote = '' } = Astro.props;
---

<footer class="relative border-t border-gray-800 not-prose bg-black">
  <div class="absolute inset-0 pointer-events-none bg-black" aria-hidden="true"></div>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 text-center">
    
    <div class="py-8 md:py-12">
      <div class="mb-4">
        <a class="inline-block font-bold text-xl text-white hover:text-red-700 transition duration-150" href={getHomePermalink()}>
          E.U.L.M
        </a>
      </div>

      <div class="text-sm text-gray-400">
        <Fragment set:html={footNote} />
      </div>
    </div>
    
  </div>
</footer>
