---
import Layout from '~/layouts/PageLayout.astro';
import Headline from '~/components/widgets/Headline.astro'; // <--- Cambiado
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'El Manifiesto | El Universo de la Mente',
};
---

<Layout metadata={metadata}>
  <Headline
    tagline="El Manifiesto"
    title="Nuestros Principios"
    subtitle="La honestidad brutal es el único camino hacia la verdadera libertad mental."
  />

  <Content
    isReversed
    items={[
      {
        title: 'Sin Azúcar Añadida',
        description: 'Aquí no venimos a decirte que todo estará bien.',
        icon: 'tabler:shield-check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1552664730-d307ca884978?q=80&w=2070',
      alt: 'Manifiesto imagen',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">La Regla de Oro</h3>
      Usted necesita más ejecución.
    </Fragment>
  </Content>
</Layout>
